---
---

// Styles for animating text banner
@import "textbanner";
// Styles for arrow animation for links
@import "linkhover";

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

h1 {
  font-size: inherit;
  line-height: 1.3em;
}

// Wraps everything on page (outside container)
.wrapper {
  font-size: 40px;
  font-family: 'Raleway', sans-serif;
  min-height: 100%;
  position: relative;
}

// Wraps all text (inside container)
$footer-height: 60px;
.content {
  padding-top: 4%;
  max-width: 912px;
  padding-bottom: $footer-height;
}

.footer {
  height: $footer-height;
  font-size: 14px;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
}

.social-link {
    margin-right: 20px;
    padding: 10px;
    display: inline-block;
    cursor: pointer
}
