<!DOCTYPE html>
<html lang="en-us">

{% include head.html %}

<body>


  <div class="container">
    <div class="wrapper">
      <div class="content">
        {% include text.html %}
        <h1>Hi, I'm Darren. Nice to meet you!</h1>
        <h1>I'm an undergraduate computer science student at UCSD.</h1>
      </div><!-- /.content -->
    </div><!--/.wrapper -->
  </div> <!-- /.container -->

  <div class="footer">
    <ul>
      <li class="social-link"><a href="https://github.com/darreneng">Github</a></li>
      <li class="social-link"><a href="https://linkedin.com/in/darrenlocktineng">LinkedIn</a></li>
    </ul>
  </div>

  {% include scripts.html %}

</body>

</html>
