<!DOCTYPE html>
<html lang="en-us">

{% include head.html %}

<body>

  <div class="wrapper">
    <div class="container">
        <div class="content">
          {% include text.html %}
          <h1>My name is Darren. Nice to meet you!</h1>
          <h1>I'm an undergraduate computer science student at UCSD.</h1>
          <h1>I like coding, building awesome things, and tacos.
            <a href="mailto:darrenle9@gmail.com?subject=Hi Darren!">Get in touch!</a>
          </h1>
        </div><!-- /.content -->
    </div> <!-- /.container -->

    {% include footer.html %}
  </div><!-- /.wrapper -->

  {% include scripts.html %}

</body>

</html>
