<!DOCTYPE html>
<html lang="en-us">

{% include head.html %}

<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/">About</a></li>
            <li><a href="/">Blog</a></li>
        </ul>
    </nav>
    <div class="container">

        {{ content }}

    </div>
    <!-- /.container -->
    <footer>
        <ul>
            <li><a href="https://github.com/darreneng">Github</a></li>
            <li><a href="https://linkedin.com/in/darrenlocktineng">LinkedIn</a></li>
        </ul>
    </footer>
</body>

</html>
